.centerHorizontallyDiv1 {
    width: 75%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.centerHorizontallyDiv2 {
    width: 50%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.marginTop {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tableTitle {
    color: rgb(0, 201, 0);
}

.colHead {
    font-size: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.td {
    margin: 0px 5px;
}

.elemCenter {
    text-align: center;
}

.dashboard-main > div > div > table > tbody > tr > td {
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-main > div > div > table > tbody > tr > td > a.btn {
    color: white ;
    background-color: rgb(0, 201, 0) ;
    align-content: center;
    vertical-align: middle;
}

.dashboard-main > div > div > table > tbody > tr > td > .btn:hover {
    color: rgb(0, 201, 0) ;
    background-color: white ;
}

#cancel {
    color: white !important;
    background-color: rgb(255, 0, 0) !important;
    align-content: center;
    vertical-align: middle;
}

#cancel:hover {
    color: rgb(255, 0, 0) !important;
    background-color: white !important;
}

th.colA {
    background-color: #222222;
}

td.colA {
    background-color: #333333; 
}

th.colB {
    background-color: #555555;
}

td.colB {
    background-color: #666666; 
}

