.bgCustom {
  background-color: #121212;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.bottom-wrapper {
  position: absolute;
  bottom: 10px;
}

.flex-wrapper {
  display: flex;
  align-items: stretch;
  flex-flow: row;
  flex-wrap: nowrap;
}

.flex-wrapper1 {
  display: flex;
  align-items: center;
}

.flex-wrapper2 {
  display: flex;
  justify-content: space-evenly; 
  width: 100%; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.flex-wrapper-column {
  display: flex;
  align-items: stretch;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0px 5px;
}

#registration {
  margin: 0px 20px;
  padding: 0px 20px;
}

#back-button {
  margin: 0px 10px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div-center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.leftChild {
  align-content: center;
  flex-grow: 2;
  box-sizing: border-box;
}

.rightChild {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

form {
  margin: 0;
}

.label-form {
  color: white;
  margin: 0px 10px;
  vertical-align: baseline;
}

.label-form1 {
  color: white;
  margin: 0px 15px;
  vertical-align: baseline;
}

.box-form {
  margin: 10px 10px;
}

.shadow-box {
  border: 10px solid black;
  border-radius: 15px;
}

.headerDiv {
  background-color: black;
  color: rgb(0, 201, 0);
  border: 5px solid black;
}

.error-message {
  color: red;
  margin: 10px 15px;
}

.succ-message {
  color: rgb(0, 201, 0);
  margin: 10px 15px;
}

.form-bg {
  background-color: black;
  color: white;
  width: 20lh;
}

.space {
  height: 50px;
}

.space1 {
  height: 100px;
}

.bottom-wrapper a {
  text-decoration: none;
  color: rgb(0, 201, 0);
}

input[type="radio"] {
  vertical-align: baseline;
}

footer {
  color: gray;
  text-align: right;
  position: absolute;
  bottom: 10;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    color: #000;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    font-size: 16px; 
}

#btn {
  color: white;
  background-color: rgb(0, 201, 0);
  padding: 3px 8px;
  border-radius: 5px;
}

#btn:hover {
  color: rgb(0, 201, 0);
  background-color: white;
  padding: 3px 8px;
  border-radius: 5px;
}

.flex-wrapper > button {
  align-items: center;
  align-content: center;  
}

.vertical-center {
  margin-right: 10px; /* Adjust as needed */
  align-self: center; /* Vertical center alignment for label */
}

.padding10 {
  padding: 10px;
}

.marginBottom10 {
  margin-bottom:20px;
}
