.footer {
  background-color: black !important;
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.footer-header {
  color: gray;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: #1ed760 !important;
}

.left-align {
  text-align: left;
}
