nav {
  user-select: none;
  background-color: #000000;
}

.nav-link {
  color: white !important;
  font-weight: bold;
}
.nav-link:hover {
  color: #1ed760 !important;
}

.nav-item {
  color: white;
  font-size: larger;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: larger;
}

#split:hover {
  color: white !important;
}
