body {
  background-color: #121212 !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcome-message {
  color: white;
  font-size: 60px;
}

.container {
  height: 100%;
}
