body {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.header-main, .signature {
    font-family: Helvetica, sans-serif;
    padding: 10px;
}

.signature {
    color: #1DB954;
    font-weight: bold;
}

#businessName {
    padding-left: 20px;
    font-family: Helvetica, sans-serif;
    color: #1DB954;
    font-weight: bold;
    font-size: larger;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    max-width: 80px;
    max-height: auto;
}

.profile {
    max-width: 500px;
    max-height: auto;
}

#right-margin {
    margin-right: 100px;
}

#left-margin {
    margin-left: 100px;
}

.container-body {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.menu a, #no-display {
    text-decoration: none;
}

.menu-choiceA {
    background-color: #1DB954;
    color: #121212;
    padding-top: 45px;
    padding-bottom: 43px;
}

.menu-choiceB, .menu-choiceA:hover {
    background-color: #121212;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 43px;
}

.menu-choiceB:hover {
    color: #1DB954;
}

.menu-chosen {
    background-color: #b3b3b3;
    color: #121212;
    padding-top: 45px;
    padding-bottom: 43px;
}

.menu ul {
    vertical-align: middle;
    display: flex;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.b0 {
    border: 0;
}

.pLR30 {
    padding-right: 30px;
    padding-left: 30px;
}

.pLR150 {
    padding-left: 150px;
    padding-right: 150px;
}

.pLR500 {
    padding-left: 500px;
    padding-right: 500px;
}

.pTP5 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bgWHITE {
    background-color: white;
}

.bgCustom {
    background-color: #121212;
}

h1, p {
    font-family: Helvetica, sans-serif;
}