body {
  background-color: black;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #1ed760 !important;
}

.nav-item {
  color: white;
  font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  font-size: larger;
}
